<div class="row" ng-if="connectionError">
    <div class="col-xs-12 form-group has-error">
        <label class="control-label">
            There was a problem with your connection, change host or try connecting again.
        </label>
    </div>

</div>
<div class="row">
    <div class="col-xs-6">
            <input class="form-control" type="text" placeholder="Overo IP" ng-model="connectionOptions.overoIP">
    </div>
    <div class="col-xs-6">
            <button class="btn btn-primary" type="button" ng-click="connect()">Connect</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-if="connectionOptions.overoStream">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#imageStreamOptionsCollapse">
                            Image stream options
                        </a>
                    </h4>
                </div>
                <div id="imageStreamOptionsCollapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="imageStreamOptions.normalImageStream.isChecked" ng-click="changeImageStreamOption('normalImageStream')">Normal image stream
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="imageStreamOptions.binarizedImageStream.isChecked" ng-click="changeImageStreamOption('binarizedImageStream')">Binarized image stream
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="imageStreamOptions.undistortImage.isChecked" ng-click="changeImageStreamOption('undistortImage')">Undistort image
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="imageStreamOptions.paintMarkers.isChecked" ng-click="changeImageStreamOption('paintMarkers')">Paint markers
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="imageStreamOptions.paintCenter.isChecked" ng-click="changeImageStreamOption('paintCenter')">Paint center
                                </label>
                            </div>
                            <div class="col-xs-3">

                            </div>
                            <div class="col-xs-3">

                            </div>
                            <div class="col-xs-3">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <img id="overoImage"
                                     class="img-thumbnail overo-stream-image img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-if="connectionOptions.overoControl">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#dataStreamOptionsCollapse">
                            Data stream options
                        </a>
                    </h4>
                </div>
                <div id="dataStreamOptionsCollapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary wrapped-text" type="button" ng-click="sendOveroStreamMessage('SAVE_CURRENT')">Save readings</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="dataStreamOptions.accelerometerStream.isChecked" ng-click="changeDataStreamOption('accelerometerStream')">Accelerometer stream
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <label class="checkbox fixed-text-center">
                                    X
                                    <input class="form-control" readonly ng-model="tilt.x">
                                </label>
                            </div>
                            <div class="col-xs-4">
                                <label class="checkbox fixed-text-center">
                                    Y
                                    <input class="form-control" readonly ng-model="tilt.y">
                                </label>
                            </div>
                            <div class="col-xs-4">
                                <label class="checkbox fixed-text-center">
                                    Z
                                    <input class="form-control" readonly ng-model="tilt.z">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="dataStreamOptions.coordinatesStream.isChecked" ng-click="changeDataStreamOption('coordinatesStream')">Coordinates stream
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label class="checkbox fixed-text-center">
                                    X
                                    <input class="form-control" readonly ng-model="coordinates.x">
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label class="checkbox fixed-text-center">
                                    Y
                                    <input class="form-control" readonly ng-model="coordinates.y">
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label class="checkbox fixed-text-center">
                                    Angle
                                    <input class="form-control" readonly ng-model="coordinates.angle">
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label class="checkbox fixed-text-center">
                                    Marker
                                    <input class="form-control" readonly ng-model="coordinates.referenceMarkerId">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="dataStreamOptions.detectedMarkersStream.isChecked" ng-click="changeDataStreamOption('detectedMarkersStream')">Detected markers stream
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="checkbox">
                                    Detected markers
                                    <textarea readonly class="form-control" style="max-width: 100%">{{detectedMarkers}}</textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-if="connectionOptions.overoControl">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#controlOptionsCollapse">
                            Control options
                        </a>
                    </h4>
                </div>
                <div id="controlOptionsCollapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="controlOptions.detection.isChecked" ng-click="changeControlOption('detection')">Detection
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="controlOptions.mapping.isChecked" ng-click="changeControlOption('mapping')">Mapping
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <input class="form-control" type="text" ng-model="brightness.value">
                                    </div>
                                    <div class="col-xs-8">
                                        <button class="btn btn-primary wrapped-text form-control" type="button" ng-click="sendBrightness()">Set brightness [0-100]</button>
                                    </div>
                                </div>
                             </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <button class="btn btn-primary wrapped-text" type="button" ng-click="sendOveroControlMessage('UPDATE_MAP_USING_THIS_IMAGE')">Update map using this image</button>
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-primary wrapped-text" type="button" ng-click="sendOveroControlMessage('SEND_CURRENT_MAP')">Get current map</button>
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-primary wrapped-text" type="button" ng-click="sendOveroControlMessage('SAVE_PARAMETERS_AND_MAP')">Save parameters and map</button>          
                            </div>
                            <div class="col-xs-3">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="checkbox">
                                    Textual representation of current map
                                    <textarea readonly class="form-control" style="max-width: 100%">{{currentMap}}</textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-if="connectionOptions.overoControl">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#algorithmOptionsCollapse">
                            Algorithm options
                        </a>
                    </h4>
                </div>
                <div id="algorithmOptionsCollapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <button class="btn btn-primary wrapped-text" type="button" ng-click="sendOveroControlMessage('SEND_CURRENT_PARAMETERS')">Get current algorithm parameters</button>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-primary wrapped-text" type="button" ng-click="sendalgorithmParameters()">Update algorithm parameters</button>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-primary wrapped-text" type="button" ng-click="sendOveroControlMessage('CALCULATE_CEILING_HEIGHT_USING_THIS_IMAGE')">Calculate ceiling height using this image</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <label class="checkbox fixed-text-center">
                                    Undistort
                                    <input type="checkbox" ng-model="algorithmParameters.undistort">
                                </label>
                            </div>
                            <div class="col-xs-2">
                                <label class="checkbox fixed-text-center">
                                    minDotArea
                                    <input class="form-control" ng-model="algorithmParameters.minDotArea">
                                </label>
                            </div>
                            <div class="col-xs-2">
                                <label class="checkbox fixed-text-center">
                                    maxDotArea
                                    <input class="form-control" ng-model="algorithmParameters.maxDotArea">
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label class="checkbox fixed-text-center wrapped-text">
                                    dotBrightnessThreshold
                                    <input class="form-control" ng-model="algorithmParameters.dotBrightnessThreshold">
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label class="checkbox fixed-text-center">
                                    ceilingHeightMeters
                                    <input class="form-control" ng-model="algorithmParameters.ceilingHeightMeters">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
